<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet name = "css/footer.css" /> 
    </h:head>
    <h:body>
        <h1>Universidad de Leon</h1>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>About Us</h6>
                        <p class="text-justify">TheContentBox.com <i>The Content Box</i> es una plataforma online que gestiona contenidos audiovisuales. Cualquier usuario que esté registrado en la web, podrá tener acceso a música, programas de televisión, podcast, películas, etc.
                            Los usuarios son personas externas a la organización que hacen un uso de esta.

                            Cualquier persona mayor de edad podrá registrarse en la plataforma. Para ello, aquella persona que desee formar parte de The Content Box tendrá que introducir una serie de datos personales como su nombre, apellido, email, fecha de nacimiento, etc. así como elegir un nombre de usuario que no exista previamente en el sistema y una contraseña que proteja su cuenta de forma segura.

                            Los usuarios pertenecientes a The Content Box podrán alquilar y comprar los productos que existan en la web. Para ello, la plataforma hará uso de un carrito virtual al cual se irán introduciendo los objetos que los usuarios deseen comprar o alquilar. 

                            Cada usuario tendrá un saldo en su cuenta con el que podrá adquirir los productos. El saldo está basado en una moneda especial característica de la plataforma llamada ‘box’. Así, cuando un usuario disponga de un saldo insuficiente, no podrá realizar ninguna compra o alquiler. Cuando un usuario se registra en el sistema por primera vez, se le otorgará un saldo inicial de 100 monedas virtuales o boxes.

                            Los usuarios del sistema tendrán a su vez una lista de productos favoritos a los que podrán puntuar con un valor entre 1 y 10, así como poder hacer comentarios sobre ellos. Los productos podrán ser añadidos y eliminados de esta lista de forma continua. Únicamente los productos que se encuentren en esta lista podrán ser puntuados. Una vez se hayan sacado de ella, su puntuación se reseteará.

                            Los usuarios también pueden acceder a un panel de noticias y recomendaciones que será gestionado tanto por trabajadores como por administradores. En él se mostrarán noticias que afecten a la plataforma como cambios en su interfaz o nuevas actualizaciones, así como recomendaciones de productos, ofertas, etc.

                            Existirá una herramienta llamada ‘Mensajes’ a través de la cual los usuarios podrán enviar y recibir mensajes entre otros usuarios del sistema.

                            Cualquier usuario que esté registrado en el sistema tendrá tres oportunidades para iniciar sesión de manera correcta, es decir, introduciendo su nombre de usuario y contraseña correctamente. Si tras estos tres intentos, se ha introducido de manera incorrecta la contraseña, su cuenta quedará bloqueada y solo podrá ser desbloqueada por el administrador del sistema. De este modo, se garantiza a todo usuario que su cuenta estará protegida ante posibles intromisiones externas a él mismo y que éste desconozca.
                        </p>
                    </div>

                    <div class="col-xs-6 col-md-3" style="text-align: center">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <li><a href="">Podcast</a></li>
                            <li><a href="">Musica</a></li>
                            <li><a href="">AudioLibros</a></li>
                            <li><a href="">Peliculas</a></li>
                        </ul>
                   
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="">About Us</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Contribute</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Sitemap</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12" style="text-align: center;">
                        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
                            <a href="#">TheContentBox</a>.
                            <i>Universidad de León</i>
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </h:body>





</html>
