<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"    
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body style="background-color: #F5F5F5">
        <ui:composition>
            <div style="width: 100%; background-color: #F5F5F5">
                <h:graphicImage library="img" name="TCB_logo.png" style="margin-left: auto;
                                margin-right: auto; margin-left: 45%;position:center;" width="auto"   height="70px" />
            </div>
            <p:toolbar style="background-color: #036fab"> 

                <f:facet name="left">
                    <p:menubar 
                        model="#{menuController.obtenerMenu()}"  
                        />
                </f:facet>

                <f:facet name="right" >
                    <h:form id="form2" >

                        <h:outputText style="font-size: 16px;" styleClass="fa fa-fw fa-user"/> 
                        <p:outputLabel style="font-size: 16px; color: #0066cc; margin-right: 10px; margin-left: 2px" 
                                       value="#{carritoController.getUsername()}"/>

                        <h:graphicImage library="img" name="monedas.png" width="17px" height="17px"  rendered="#{not principalController.isAdmin()}"/>
                        <p:outputLabel style="font-size: 16px;color: #996600; margin-right: 30px; margin-left: 2px" 
                                       value="#{carritoController.getSaldo()} bxs" rendered="#{not principalController.isAdmin()}"/>


                        <span class="ui-separator">
                        </span>


                        <p:outputLabel
                            id="numero"
                            style="margin-right: 5px;
                            background-color: red;
                            border: 1px solid #000;
                            width: 15px;
                            height: 15px;
                            color: white;
                            font-size: 15px;
                            font-weight: bold;
                            align-content: center;
                            justify-content: center;
                            text-align: center;
                            padding: 5px;
                            display: inline-block;
                            border-radius: 50%;"
                            value="#{carritoController.numProductos}"
                            rendered="#{carritoController.numProductos != 0}"
                            
                            />

                        <p:commandButton
                            style="margin-right: 15px"
                            icon="fa fa-fw fa-shopping-cart"
                            type="button"
                            onclick="PF('dlg2').show();"
                            rendered="#{not principalController.isAdmin()}"
                            />
                   
                        <p:commandButton 
                            id="salir" 
                            value="Cerrar sesión" 
                            style="margin-right:20px; color: red; background: whitesmoke; height: 45px"
                            icon="fa fa-fw fa-sign-out"
                            actionListener="#{menuController.destruirSesion()}"
                            action="/faces/index"
                            />

                        <p:dialog header="Carrito" widgetVar="dlg2" 
                                  modal="true"
                                  resizable="false"
                                  width="1000px"
                                  height="auto"
                                  >
                            <f:ajax event="close" render="@all" />
                            <p:dataTable style="width:100%" value="#{carritoController.listaProductos}" 
                                         var="product" id="carrito" scrollable="true" scrollHeight="400">

                                <p:column headerText="PRODUCTO" style="text-align: center">
                                    <p:graphicImage
                                        rendered="#{product.idTipoProducto.tipoProductoChar == 'P'}"
                                        url="#{product.url}" width="45px" height="80px"/> 
                                    <p:graphicImage
                                        rendered="#{product.idTipoProducto.tipoProductoChar != 'P'}"
                                        url="#{product.url}" width="80px" height="80px"/> 
                                </p:column>

                                <p:column headerText="DESCRIPCION">
                                    <p:panelGrid columns="1" styleClass="ui-noborder">
                                        <h:outputText value="#{product.titulo}" style="font-weight: bold"/>
                                        <h:outputText value="#{product.artista}" style="font-weight: lighter; font-size: 14px; color: #666666"/>
                                    </p:panelGrid>
                                </p:column>

                                <p:column headerText="TIPO" style="text-align: center">
                                    <h:outputText rendered="#{carritoController.isCompra(product)}" value="Compra"
                                                  style="font-style: italic; color: #009966; font-weight: bold"/>
                                    <h:outputText rendered="#{carritoController.isAlquiler(product)}" value="Alquiler"
                                                  style="font-style: italic; color: #999900; font-weight: bold"/>
                                </p:column>

                                <p:column headerText="DÍAS ALQUILER" style="text-align: center">
                                    <h:outputText rendered="#{carritoController.isAlquiler(product)}" 
                                                  value="#{product.fechaAlquiler} días"/>
                                    <h:outputText rendered="#{carritoController.isCompra(product)}" 
                                                  value="-"/>
                                </p:column>

                                <p:column headerText="REMOVE" style="text-align: center">
                                    <p:commandLink update="carrito form2:procesar" action="#{carritoController.deleteProducto(product)}">
                                        <h:outputText styleClass="fa fa-fw fa-times-circle"
                                                      style="font-size: 20px;
                                                      color: #943126;"/>
                                    </p:commandLink>
                                </p:column>

                                <p:column headerText="PRECIO" style="text-align: center">
                                    <h:outputText rendered="#{carritoController.isAlquiler(product)}" 
                                                  value="#{product.precioAlquiler} boxes"/>
                                    <h:outputText rendered="#{carritoController.isCompra(product)}" 
                                                  value="#{product.precioCompra} boxes"/>
                                </p:column>


                                <p:columnGroup type="footer">

                                    <p:row rendered="#{carritoController.numProductos != 0}">
                                        <p:column footerText=""/>                                            
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText="Saldo:" style="text-align:right"/>
                                        <p:column footerText="#{carritoController.getSaldo()} boxes"/>
                                    </p:row>

                                    <p:row rendered="#{carritoController.numProductos != 0}">
                                        <p:column footerText=""/>                                            
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText="TOTAL:" style="text-align:right"/>
                                        <p:column footerText="#{carritoController.total} boxes"/>
                                    </p:row>

                                    <p:row rendered="#{not carritoController.renderProcesar()}">
                                        <p:column footerText=""/>                                            
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText="Restante: " style="text-align:right; color: #009966"/>
                                        <p:column footerText="#{carritoController.calcularRestante()} boxes" style="text-align:right; color: #009966"/>
                                    </p:row>

                                    <p:row rendered="#{carritoController.renderProcesar() and carritoController.numProductos != 0}">
                                        <p:column footerText=""/>                                            
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText="Restante: " style="text-align:right; color: #943126"/>
                                        <p:column footerText="#{carritoController.calcularRestante()} boxes" style="text-align:right; color: #943126"/>
                                    </p:row>

                                </p:columnGroup>


                            </p:dataTable>

                            <p:commandButton id="procesar"
                                             disabled="#{carritoController.renderProcesar()}"
                                             value="PROCESAR COMPRA" 
                                             style="float: right;
                                             margin-top: 20px;
                                             margin-right: 50px;
                                             margin-bottom: 10px;"
                                             icon="fa fa-fw fa-shopping-basket"
                                             action="#{carritoController.procesarCompra()}"
                                             oncomplete="PF('dlg3').show();"
                                             />

                        </p:dialog>

                        <p:dialog header="Compra realizada!" widgetVar="dlg3" 
                                  modal="true"
                                  resizable="false"
                                  width="auto"
                                  height="auto"
                                  closable="false"
                                  >
                            <f:ajax event="close" render="@all" />


                            <p:panelGrid columns="1" styleClass="ui-noborder" style="text-align: center">

                                <p:outputLabel value="COMPRA REALIZADA CON ÉXITO!" style="font-size: 40px"></p:outputLabel>
                                <i style="color: #009966; font-size: 60px" class="fa fa-fw fa-check-circle-o"></i>
                                <p:commandButton value="Aceptar"
                                                 update="form2"
                                                 onclick="PF('dlg3').close();
                                                         PF('dlg2').hide();"
                                                 action="todosProductos.xhtml?faces-redirect=true"/>
                            </p:panelGrid>

                        </p:dialog>

                    </h:form>
                </f:facet>

            </p:toolbar>	
            <ui:define name="head">

            </ui:define>
        </ui:composition>
    </body>
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
</html>
