<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Escribir mensaje</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml">
            <ui:define name="content">

                <p:messages id="messages" showDetail="true" closable="true">
                    <p:autoUpdate />
                </p:messages>

                <h:form id="form">
                    <p:panelGrid id="grid1" columns="2" style="width: 100%">
                    
                        <p:outputLabel for="username" value="Username de destinatario: "/>
                        <p:autoComplete id="username" required="true"
                                        requiredMessage="Nombre de usuario es un campo obligatorio"
                                        style="margin-left: 10px; font-size: 16px;"
                                        value="#{mensajesController.receptor.username}" 
                                        completeMethod="#{mensajesController.metodoAutocompletado}" >
                        </p:autoComplete>
                        
                        <p:outputLabel for="asunto" value="Asunto: "/>
                        <p:inputText id="asunto" required="true"
                                        requiredMessage="Asunto de usuario es un campo obligatorio"
                                        style="margin-left: 10px; font-size: 16px;"
                                        value="#{mensajesController.mensaje.asunto}" 
                        />
                        

                    </p:panelGrid>
                    <p:panelGrid id="grid2" columns="1" style="width: 100%">
                        
                        <p:outputLabel for="cuerpo" value="Contenido: "/>
                        <p:inputTextarea rows="5" id="cuerpo"
                                         cols="30" counter="display" 
                                         maxlength="300" counterTemplate="{0} characters remaining." 
                                         style="width: 100%; height: 20%" value="#{mensajesController.mensaje.contenido}"/>
                        <h:outputText style="font-size: 12px;" id="display" />

                        
                        
                    </p:panelGrid>
                    
                    <p:commandButton id="enviar" value='ENVIAR' style="float: right; 
                                        margin-top: 10px; 
                                        margin-right: 20px;
                                        width: auto;"
                                     icon="fa fa-fw fa-send" 
                                     action="#{mensajesController.enviarMensaje()}"
                                     update=":form"/>
           
                </h:form>
               
            </ui:define>
        </ui:composition>
    </body>
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
</html>


