<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Lista de favoritos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml">
            <ui:define name="content">

                <p:messages id="messages" showDetail="true" closable="true">
                    <p:autoUpdate />
                </p:messages>

                <h:form id="form">
                    <p:dataScroller id="data"
                                    value="#{listaFavoritosController.listaFavoritos}" 
                                    var="fav" chunkSize="10"
                                    style="border-bottom: 12px solid #A8A8A8;
                                    padding: 25px 10px;"
                                    >
                        <f:facet name="header">
                            <div style="font-size: 24px; font-weight: bold">
                                Lista de productos favoritos
                            </div>
                        </f:facet>  

                        <h:panelGrid columns="4" style="width:100%; border-bottom: 4px solid #684609;
                                     padding: 25px 10px">

                            <p:graphicImage url="#{fav.idProducto.url}" 
                                            style="width: 150px; 
                                            border: 2px solid;
                                            border-color: black"/> 

                            <p:outputPanel style="padding-right: 60px">
                                <h:panelGrid columns="2" cellpadding="5" >
                                    <h:outputText value="Titulo:" />
                                    <h:outputText value="#{fav.idProducto.titulo}" style="font-weight: bold; font-size: 24px"/>

                                    <h:outputText value="Artista/Director:" />
                                    <h:outputText value="#{fav.idProducto.artista}" style="font-weight: bold"/>

                                    <h:outputText value="Tipo de producto:" />
                                    <h:outputText value="#{fav.idProducto.idTipoProducto.descripcion}" 
                                                  style="font-style: italic; 
                                                  color: #553D67; 
                                                  font-weight: bold"
                                                  rendered="#{fav.idProducto.idTipoProducto.tipoProductoChar == 'P'}"/>

                                    <h:outputText value="#{fav.idProducto.idTipoProducto.descripcion}" 
                                                  style="font-style: italic; 
                                                  color: #F64C72; 
                                                  font-weight: bold"
                                                  rendered="#{fav.idProducto.idTipoProducto.tipoProductoChar == 'M'}"/>

                                    <h:outputText value="#{fav.idProducto.idTipoProducto.descripcion}" 
                                                  style="font-style: italic; 
                                                  color: #242582; 
                                                  font-weight: bold"
                                                  rendered="#{fav.idProducto.idTipoProducto.tipoProductoChar == 'T'}"/>
                                </h:panelGrid>
                            </p:outputPanel>

                            <p:outputPanel>
                                <h:panelGrid columns="2" cellpadding="5">
                                    <h:outputText value="Comentario: "/>
                                    <p:inputTextarea value="#{fav.comentario}"
                                                     style="width: 75%; height: 75%;"/>

                                    <h:outputText value="Valoración: " />
                                    <p:rating value="#{fav.valoracion}" 
                                              stars="10"
                                              cancel="false"/>
                                </h:panelGrid>
                            </p:outputPanel>

                            <p:outputPanel style="align-content: center; justify-content: center; margin-right: 20px">
                                <h:panelGrid columns="2" cellpadding="5">
                                    
                                    <p:commandButton icon="fa fa-fw fa-edit" 
                                                     styleClass="fa-2x" 
                                                     title="Edit item"
                                                     style="width:50px;height:50px;"
                                                     update="data messages"
                                                     action="#{listaFavoritosController.modificarDatos(fav)}"/>

                                    <p:commandButton icon="fa fa-fw fa-trash" 
                                                     update=":form"
                                                     styleClass="fa-2x" 
                                                     title="Remove item"
                                                     style="width:50px;height:50px;"
                                                     action="#{listaFavoritosController.eliminarFavorito(fav)}">
                                        <p:confirm header="Confirmación" message="¿Estás seguro?" 
                                                   icon="fa fa-fw fa-exclamation" />
                                    </p:commandButton>
                                </h:panelGrid>
                                
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Yes" type="button"  styleClass="ui-confirmdialog-yes" icon="fa fa-fw fa-check" />
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-fw fa-times" />
                                </p:confirmDialog>      
                                
                            </p:outputPanel>
                        </h:panelGrid>
                    </p:dataScroller>
                    
   

                </h:form>
                
                

                
            </ui:define>
        </ui:composition>
    </body>
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
</html>


