<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Mis productos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml">
            <ui:define name="content">

                <p:messages id="messages" showDetail="true" closable="true">
                    <p:autoUpdate />
                </p:messages>

                <h:form id="form">
                    <p:dataScroller id="data"
                                    value="#{misProductosController.listaProductos}" 
                                    var="prod"
                                    style="border-bottom: 12px solid #A8A8A8; width: 100%;
                                    padding: 25px;"
                                    >
                        <f:facet name="header">
                            <div style="font-size: 24px; font-weight: bold">
                                Mis productos
                            </div>
                        </f:facet>  

                        <h:panelGrid columns="4" style="width: 100%; border-bottom: 4px solid #684609;">

                            <p:outputPanel style="width: 30%">
                                <h:panelGrid columns="1">
                                    
                                    <p:graphicImage url="#{prod.idProducto.url}" 
                                            style="width: 150px; 
                                            border: 2px solid;
                                            border-color: black;
                                            margin-left: 20px;
                                            margin-top: 20px;
                                            margin-right: 10px;"/> 
                                    
                                    <h:panelGrid columns="2" cellpadding="5" style="margin-left: 20px">

                                        <h:outputText value="ESTADO: " style="font-weight: bold; font-size: 14px"/>
                                        
                                        <h:outputText value="Caducado" rendered="#{not prod.estado}"
                                                      style="font-weight: bold; font-size: 12px; font-style: italic; color: red"/>
                                        <h:outputText value="Disponible" rendered="#{prod.estado}"
                                                      style="font-weight: bold; font-size: 12px; font-style: italic; color: #009966"/>
                                        
                                    </h:panelGrid>
                                    
                                </h:panelGrid>
                            </p:outputPanel>
                           
                            <p:outputPanel style=" margin-left: 100px; width: 500px">
                                <h:panelGrid columns="2" cellpadding="5" >
                                    <h:outputText value="Titulo:" />
                                    <h:outputText value="#{prod.idProducto.titulo}" style="font-weight: bold; font-size: 24px"/>

                                    <h:outputText value="Artista/Director:" />
                                    <h:outputText value="#{prod.idProducto.artista}" style="font-weight: bold"/>

                                    <h:outputText value="Tipo de producto:" />
                                    <h:outputText value="#{prod.idProducto.idTipoProducto.descripcion}" 
                                                  style="font-style: italic; 
                                                  color: #553D67; 
                                                  font-weight: bold"
                                                  rendered="#{prod.idProducto.idTipoProducto.tipoProductoChar == 'P'}"/>

                                    <h:outputText value="#{prod.idProducto.idTipoProducto.descripcion}" 
                                                  style="font-style: italic; 
                                                  color: #F64C72; 
                                                  font-weight: bold"
                                                  rendered="#{prod.idProducto.idTipoProducto.tipoProductoChar == 'M'}"/>

                                    <h:outputText value="#{prod.idProducto.idTipoProducto.descripcion}" 
                                                  style="font-style: italic; 
                                                  color: #242582; 
                                                  font-weight: bold"
                                                  rendered="#{prod.idProducto.idTipoProducto.tipoProductoChar == 'T'}"/>
                                </h:panelGrid>
                            </p:outputPanel>

                            <p:outputPanel style="width: 100px; margin-right: 200px">
                                <h:panelGrid columns="2" cellpadding="5">
                                    
                                    <h:outputLabel value="ALQUILADO" rendered="#{prod.alquilado}" style="font-weight: bold"/>
                                    <h:outputLabel styleClass="fa fa-fw fa-warning" rendered="#{prod.alquilado}" style="color: #ff9933"/>
                                    
                                    <h:outputLabel value="#{misProductosController.calcularDiasRestantes(prod)}"
                                                   rendered="#{prod.alquilado}" style="color: #ff9933"/>
                                                   
                                    <h:outputLabel value="COMPRADO" rendered="#{not prod.alquilado}" style="font-weight: bold"/>
                                    <h:outputLabel styleClass="fa fa-fw fa-check-circle-o" rendered="#{not prod.alquilado}" style="color: #009966"/>


                                </h:panelGrid>
                            </p:outputPanel>

                            <p:outputPanel style="align-content: center; justify-content: center; margin-right: 20px;">
                                <p:commandLink disabled="#{misProductosController.esFavorito(prod.idProducto)}"
                                    update=":form:productFav" oncomplete="PF('productFav').show()" title="Add to favourites">
                                    <h:outputText styleClass="fa fa-fw fa-heart" 
                                                  style="font-size: 16px; 
                                                    margin-top: 2px; 
                                                    color: #990033; 
                                                    background-color: whitesmoke;
                                                    border-color: #990033;
                                                    border-width: 2px;
                                                    margin: 10px;
                                                    padding: 4px;
                                                    border-style: solid"/>
                                    <f:setPropertyActionListener value="#{prod.idProducto}" target="#{misProductosController.producto}" />
                                </p:commandLink>   
                            </p:outputPanel>
                        </h:panelGrid>
                    </p:dataScroller>
                    
                    <p:dialog header="Añadir el producto a favoritos..." widgetVar="productFav" 
                                  modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                            <p:outputPanel id="productFav" style="text-align:center;">
                                <p:panelGrid  columns="2" 
                                              columnClasses="label,value">
                                    
                                    <h:outputText value="Título: " />
                                    <h:outputText value="#{misProductosController.producto.titulo}" />

                                    <h:outputText value="Artista/Director: " />
                                    <h:outputText value="#{misProductosController.producto.artista}" />
                                    
                                    <h:outputText value="Comentario: " />
                                    <h:inputText value="#{misProductosController.favorito.comentario}"/>
                                     
                                    <h:outputText value="Valoración: " />
                                    <p:rating value="#{misProductosController.favorito.valoracion}" 
                                              stars="10"/>
                                    
                                </p:panelGrid>
                                
                                <p:commandButton update=":form:productFav" icon="fa fa-fw fa-save" oncomplete="PF('productDialog').hide(); PF('productFav').hide()" 
                                                 title="Añadir producto a favoritos..." action="#{misProductosController.anadirFavorito()}"/>

                            </p:outputPanel>
                        </p:dialog>
   

                </h:form>
                
                

                
            </ui:define>
        </ui:composition>
    </body>
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
</html>


