<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Modificar Datos Usuario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml">
            <ui:define name="content">
            <h:body>
                <p:messages id="messages" showDetail="true" closable="true">
                        <p:autoUpdate />
                </p:messages>

                <h:form>
                     <p:fieldset legend="Modificacion de datos personales" style="margin-bottom:20px">
                        <p:panelGrid id="gridModificarDatosPersonales" columns="2" layout="grid">             
                            <p:outputLabel value="Nombre: " for="nombre"/>
                            <p:inputText 
                                id="nombre" required="true"
                                requiredMessage="Nombre es un campo obligatorio"
                                value="#{modificarDatosUsuarioController.currentPersona.nombre}" />

                            <p:outputLabel value="Primer apellido: " for="apellido1"/>
                            <p:inputText 
                                id="apellido1" required="true"
                                requiredMessage="Primer apellido es un campo obligatorio"
                                value="#{modificarDatosUsuarioController.currentPersona.apellido1}" />      

                            <p:outputLabel value="Cambie el segundo apellido: " for="apellido2"/>
                            <p:inputText 
                                id="apellido2" required="true"
                                requiredMessage="Seundo apellido es un campo obligatorio"
                                value="#{modificarDatosUsuarioController.currentPersona.apellido2}" />      

                            <p:outputLabel value="Cambie la fecha de nacimiento: " for="fechaNacimiento"/>
                            <p:calendar id="fechaNacimiento"  locale="es"
                                        required="true"
                                        requiredMessage="Fecha de nacimiento es un campo obligatorio"
                                        value="#{modificarDatosUsuarioController.currentPersona.fechaNacimiento}"/>

                            <p:commandButton id="ModificarDatosPersonales" 
                                             value="Modificar" 
                                             icon="fa fa-fw fa-edit"
                                             update="gridModificarDatosPersonales"
                                             actionListener="#{modificarDatosUsuarioController.modificarPersona()}"/>

                        </p:panelGrid>
                    </p:fieldset>
                    
                    <p:fieldset legend="Eliminar cuenta" style="margin-bottom:20px">
                        <p:panelGrid id="gridEliminarCuenta" columns="2" layout="grid">             
                            
                            <p:outputLabel value="Pulse el boton siguinte si quiere borrar su cuenta: "/>
                            <p:commandButton  id="EliminarCuenta" value="Eliminar cuenta" icon="fa fa-fw fa-trash" style="color: red"
                                              actionListener="#{eliminarUsuarioController.eliminarUsuario()}" 
                                              action="/index">
                            </p:commandButton>

                        </p:panelGrid>
                    </p:fieldset>
                    
                    <p:fieldset legend="Modificacion de datos de acceso" style="margin-bottom:20px">
                        <p:panelGrid id="gridModificarDatosUsuario" columns="2" layout="grid">             

                            <p:outputLabel value="Nombre de usuario: " for="username"/>
                            <p:inputText id="username" value="#{modificarDatosUsuarioController.nuevoUser}" 
                                        required="true"
                                        requiredMessage="Nombre de usuario es un campo obligatorio"/>

                            <p:outputLabel value="Nueva contraseña: " for="contraseña1"/>
                            <p:password id="contraseña1" value="#{modificarDatosUsuarioController.currentUsuario.password}"/>

                            <p:outputLabel value="Repita nueva contraseña: " for="contraseña2"/>
                            <p:password id="contraseña2" value="#{modificarDatosUsuarioController.repiteContraseña}"/>

                            <p:commandButton  id="ModificarDatosAcceso" value="Modificar" 
                                                update="gridModificarDatosUsuario"
                                             icon="fa fa-fw fa-edit"
                                             
                                                actionListener="#{modificarDatosUsuarioController.modificarUsuario()}">
                            </p:commandButton>

                        </p:panelGrid>
                    </p:fieldset>
                    
                    
                    
        
                </h:form>
            </h:body>
            </ui:define>
        </ui:composition>
    </body>
    <h:outputScript library="js" name="calendario.js"/>
</html>


