<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Todos los productos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml" id="comp">
            update="container"
            <ui:define name="content">
                <h:body>
                    <p:messages id="messages" showDetail="true">
                    </p:messages>

                    <h:form id="form">
                        <p:dataGrid var="product" value="#{todosProductosController.listaProductosMostrados}" 
                                    columns="4" 
                                    layout="grid"
                                    rows="12" 
                                    paginator="true" 
                                    id="productos"
                                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="6,12,16">

                            <f:facet name="header" >
                                <div style="font-size: 24px; font-weight: bold">TODOS LOS PRODUCTOS</div>
                                    <div align="right">
                                        <p:outputPanel>
                                            <p:autoComplete id="acSimple"
                                                            placeholder="Búsqueda de productos..."
                                                            style="margin-left: 10px; font-size: 16px;"
                                                            value="#{todosProductosController.textoBusqueda}" 
                                                            completeMethod="#{todosProductosController.metodoAutocompletado}" > 
                                                <p:ajax event="itemSelect" listener="#{todosProductosController.onItemSelect}" 
                                                        update=":form:productDetail :form:productFav" 
                                                        oncomplete="PF('productDialog').show()" />
                                            </p:autoComplete>
                                            <p:commandButton icon="fa fa-fw fa-search" style="font-size: 16px;" 
                                                             action="#{todosProductosController.actualizarListaBusqueda()}" update=":form"/>
                                            <p:commandButton icon="fa fa-fw fa-history" style="font-size: 16px;" 
                                                             action="#{todosProductosController.inicio()}" update=":form"/>
                                        </p:outputPanel>
                                    </div>
                            </f:facet>
                            
                  
                            <p:panel style="text-align:center">
                                <h:panelGrid columns="1" style="width:100%">
                                    <p:graphicImage url="#{product.url}"/> 

                                    <h:outputText value="#{product.titulo}" style="font-size: 20px; font-weight: bold"/>
                                    <h:outputText value="#{product.artista}" style="font-size: 16px;"/>


                                    <h:outputText value="#{product.idTipoProducto.descripcion}" 
                                                  style="font-size: 14px; font-style: italic; 
                                                  color: #242582; 
                                                  font-weight: bold"
                                                  rendered="#{product.idTipoProducto.tipoProductoChar == 'T'}" />

                                    <h:outputText styleClass="fa fa-fw fa-rss" style="font-size: 16px; color: #242582"
                                                  rendered="#{product.idTipoProducto.tipoProductoChar == 'T'}" />

                                    <h:outputText value="#{product.idTipoProducto.descripcion}" 
                                                  style="font-size: 14px; font-style: italic; color: #553D67; font-weight: bold"
                                                  rendered="#{product.idTipoProducto.tipoProductoChar == 'P'}" />

                                    <h:outputText styleClass="fa fa-fw fa-film" style="font-size: 16px; color: #553D67"
                                                  rendered="#{product.idTipoProducto.tipoProductoChar == 'P'}" />

                                    <h:outputText value="#{product.idTipoProducto.descripcion}" 
                                                  style="font-size: 14px; font-style: italic; color: #F64C72; font-weight: bold"
                                                  rendered="#{product.idTipoProducto.tipoProductoChar == 'M'}" />

                                    <h:outputText styleClass="fa fa-fw fa-film" style="font-size: 16px; color: #F64C72"
                                                  rendered="#{product.idTipoProducto.tipoProductoChar == 'M'}" />

                                    <p:commandLink update=":form:productDetail :form:productDetail" oncomplete="PF('productDialog').show()" title="View Detail">
                                        <p:tooltip showEffect="clip"/>
                                        <h:outputText styleClass="fa fa-fw fa-search-plus" 
                                                      style="font-size: 16px; 
                                                        margin-top: 2px; 
                                                        color: deepskyblue; 
                                                        background-color: whitesmoke;
                                                        border-color: deepskyblue;
                                                        border-width: 2px;
                                                        border-radius: 20px;
                                                        padding: 4px;
                                                        border-style: solid"/>
                                        <f:setPropertyActionListener value="#{product}" target="#{todosProductosController.producto}" />
                                    </p:commandLink>

                                 </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>

                        <p:dialog header="Información del producto" widgetVar="productDialog" 
                                  modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                            <p:outputPanel id="productDetail" style="text-align:center;">
                                <p:panelGrid  columns="2" rendered="#{not empty todosProductosController.producto}" 
                                              >
                                    <f:facet name="header">
                                        <p:graphicImage url="#{todosProductosController.producto.url}"/> 
                                    </f:facet>

                                    <h:outputText value="Título: " />
                                    <h:outputText value="#{todosProductosController.producto.titulo}" />

                                    <h:outputText value="Artista/Director: " />
                                    <h:outputText value="#{todosProductosController.producto.artista}" />
                                    
                                    <h:outputText value="Género: " />
                                    <h:outputText value="#{todosProductosController.producto.genero}" />

                                    <h:outputText value="Tipo: " />
                                    <h:outputText value="#{todosProductosController.producto.idTipoProducto.descripcion}" 
                                                  style="font-size: 14px; font-style: italic; color: #F64C72; font-weight: bold"
                                                  rendered="#{todosProductosController.producto.idTipoProducto.tipoProductoChar == 'M'}" />
                                    
                                    <h:outputText value="#{todosProductosController.producto.idTipoProducto.descripcion}" 
                                                  style="font-size: 14px; font-style: italic; color: #553D67; font-weight: bold"
                                                  rendered="#{todosProductosController.producto.idTipoProducto.tipoProductoChar == 'P'}" />
                                    
                                    <h:outputText value="#{todosProductosController.producto.idTipoProducto.descripcion}" 
                                                  style="font-size: 14px; font-style: italic; color: #242582; font-weight: bold"
                                                  rendered="#{todosProductosController.producto.idTipoProducto.tipoProductoChar == 'T'}" />

                                    <h:outputText value="Precio compra: " />
                                    <h:outputText value="#{todosProductosController.producto.precioCompra} boxes" />
                                    
                                    <h:outputText value="Alquiler disponible: " />
                                    <h:outputText styleClass="fa fa-fw fa-ban" style="font-size: 18px; color: red"
                                                  rendered="#{!todosProductosController.producto.alquiler}"/>
                                    <h:outputText styleClass="fa fa-fw fa-check-circle-o" style="font-size: 18px; color: green"
                                                  rendered="#{todosProductosController.producto.alquiler}"/>
                                    
                                    <h:outputText value="Precio alquiler: " 
                                                  rendered="#{todosProductosController.producto.alquiler}"/>
                                    <h:outputText value="#{todosProductosController.producto.precioAlquiler} boxes" 
                                                  rendered="#{todosProductosController.producto.alquiler}"/>
                                    
                                    <h:outputText value="Días alquiler: " 
                                                  rendered="#{todosProductosController.producto.alquiler}"/>
                                    <h:outputText value="#{todosProductosController.producto.fechaAlquiler} días" 
                                                  rendered="#{todosProductosController.producto.alquiler}"/>

                                    </p:panelGrid>
                                
                                    <p:commandLink update=":form:productFav" oncomplete="PF('productFav').show()" title="Add to favourites">
                                        <h:outputText styleClass="fa fa-fw fa-heart" 
                                                      style="font-size: 16px; 
                                                        margin-top: 2px; 
                                                        color: #990033; 
                                                        background-color: whitesmoke;
                                                        border-color: #990033;
                                                        border-width: 2px;
                                                        margin: 10px;
                                                        padding: 4px;
                                                        border-style: solid"/>
                                    </p:commandLink>
                                
                                <p:outputLabel
                                    rendered="#{!carritoController.isEnCarrito(todosProductosController.producto) and 
                                        carritoController.isMisProductos(todosProductosController.producto)}"
                                    style="font-weight: bold;
                                        font-style: italic;
                                        color: green"
                                    value="¡Producto adquirido!"/>
                                
                                <p:commandButton rendered="#{todosProductosController.producto.alquiler 
                                                             and !carritoController.isEnCarrito(todosProductosController.producto)
                                                             and !carritoController.isMisProductos(todosProductosController.producto)}"
                                                        value="ALQUILAR" style="font-size: 16px; 
                                                        margin-top: 2px; 
                                                        color: #003333; 
                                                        background-color: whitesmoke;
                                                        border-color: #003333;
                                                        border-width: 2px;
                                                        margin: 10px;
                                                        padding: 4px;
                                                        border-style: solid"
                                                        action="#{carritoController.anadirAlquiler(todosProductosController.producto)}"
                                                        oncomplete="PF('productDialog').hide();">
                                    <f:ajax render="@all"/>
                                </p:commandButton>

                                <p:commandButton rendered="#{!carritoController.isEnCarrito(todosProductosController.producto) and 
                                                             !carritoController.isMisProductos(todosProductosController.producto)}"
                                                    value="COMPRAR"
                                                      style="font-size: 16px; 
                                                        margin-top: 2px; 
                                                        color: #003333; 
                                                        background-color: whitesmoke;
                                                        border-color: #003333;
                                                        border-width: 2px;
                                                        margin: 10px;
                                                        padding: 4px;
                                                        border-style: solid"
                                                        action="#{carritoController.anadirCompra(todosProductosController.producto)}"
                                                        oncomplete="PF('productDialog').hide();"
                                                        >
                                        <f:ajax render="@all"/>
                                    </p:commandButton>

                            </p:outputPanel>
                        </p:dialog>
                        
                        <p:dialog header="Añadir el producto a favoritos..." widgetVar="productFav" 
                                  modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                            <p:outputPanel id="productFav" style="text-align:center;">
                                <p:panelGrid  columns="2" 
                                              columnClasses="label,value">
                                    
                                    <h:outputText value="Título: " />
                                    <h:outputText value="#{todosProductosController.producto.titulo}" />

                                    <h:outputText value="Artista/Director: " />
                                    <h:outputText value="#{todosProductosController.producto.artista}" />
                                    
                                    <h:outputText value="Comentario: " />
                                    <h:inputText value="#{todosProductosController.favorito.comentario}"/>
                                     
                                    <h:outputText value="Valoración: " />
                                    <p:rating value="#{todosProductosController.favorito.valoracion}" 
                                              stars="10"/>
                                    
                                </p:panelGrid>
                                
                                <p:commandButton update=":form:productFav" icon="fa fa-fw fa-save" oncomplete="PF('productDialog').hide(); PF('productFav').hide()" 
                                                 title="Añadir producto a favoritos..." action="#{todosProductosController.anadirFavorito()}"/>

                            </p:outputPanel>
                        </p:dialog>

                    </h:form>
                </h:body>
            </ui:define>
        </ui:composition>
    </body>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
</html>


