/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-may-2020, 19:25:14
    Author     : Usuario
*/

.center_content{
    
  background-color: white;
  width: 100%;
  height: 100%;
  margin-bottom: 300px;
  padding: 5px;
  margin-bottom: 40px;
}

.panelGrid {
    text-align: center;
    color: black;
    margin: 0 auto;
   
    font-size: 3em;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}