<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">


    <h:head>
        <title>Página principal</title>

    </h:head>

    <ui:composition template="./../WEB-INF/template/plantillaPrincipal.xhtml">
        <ui:define name="content">



            <div id="container" style="text-align: center">   

                <h:form id="authenticate" rendered="#{principalController.isAdmin()}">
                    <h:panelGrid styleClass="panelGrid" columns="1" cellpadding="1" style="text-align: center; justify-content: center; align-items: center" >
                        <p:outputLabel>Bienvenido Administrador: #{principalController.getAdmin()}</p:outputLabel>
                    </h:panelGrid>
                </h:form>

            </div>

            <h:form>



                <p:dataScroller value="#{principalController.noticias}" var="noticia" chunkSize="10" mode="inline"  rendered="#{not principalController.isAdmin()}">
                    <f:facet name="header">
                        <p style="font-family:verdana; font-size:150%; ">Noticias sobre nuestos productos</p>
                    </f:facet>
                    <p:panel id="horizontal" header="Noticias sobre: #{noticia.nombre} Con fecha de publicación: #{noticia.fechaPublicacion}" toggleable="true" closable="true" toggleOrientation="horizontal">
                        <h:panelGrid columns="2" cellpadding="10">
                            <p:graphicImage url="#{noticia.url}" 
                                            style="width: 400px; 
                                            border: 2px solid;
                                            border-color: black;
                                            margin-left: 20px;
                                            margin-top: 20px;
                                            margin-right: 20px"/> 
                            <h:outputText
                                value="#{noticia.descripcion}" />
                        </h:panelGrid>
                    </p:panel>


                </p:dataScroller>


            </h:form>

        </ui:define>

    </ui:composition>




</html>
