<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>Crear usuario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml">
            <ui:define name="content">

                <h:body>

                    <p:messages id="messages" showDetail="true" closable="true">
                        <p:autoUpdate />
                    </p:messages>

                    <h:form id="form">

                        <p:dataTable var="user" value="#{bloquearUsuarioController.listaUsuarios}" 
                                     style="margin-top: 10px; text-align: center">
                            <f:facet name="header">
                                LISTA DE USUARIOS
                            </f:facet>
                            <p:column headerText="ID" sortBy="#{user.idUsuario}">
                                <h:outputText value="#{user.idUsuario}" />
                            </p:column>

                            <p:column headerText="Username" sortBy="#{user.username}">
                                <h:outputText value="#{user.username}" />
                            </p:column>

                            <p:column headerText="Saldo" sortBy="#{user.saldo}">
                                <h:outputText value="#{user.saldo}" />
                            </p:column>

                            <p:column headerText="Estado">
                                <h:outputText rendered="#{user.estado}" value="BLOQUEADO"
                                              style="font-weight: bold; color: #990033"/>
                                <h:outputText rendered="#{not user.estado}" value="DESBLOQUEADO"
                                              style="font-weight: bold; color: #009966"/>                            
                            </p:column>
                            
                            <p:column headerText="Cambiar estado">
                                <p:commandLink rendered="#{not user.estado}" 
                                               action="#{bloquearUsuarioController.bloquearUser(user)}"
                                               update="form">
                                        <h:outputText styleClass="fa fa-fw fa-toggle-on" 
                                                      style="font-size: 20px; 
                                                        margin-top: 2px; 
                                                        color: #009966;"/>
                                </p:commandLink>
                                <p:commandLink rendered="#{user.estado}" 
                                               action="#{bloquearUsuarioController.desbloquearUser(user)}"
                                               update="form">
                                        <h:outputText styleClass="fa fa-fw fa-toggle-off" 
                                                      style="font-size: 20px; 
                                                        margin-top: 2px; 
                                                        color: #990033;"/>
                                </p:commandLink>
                            </p:column>
                            
                        </p:dataTable>

                    </h:form>       
                </h:body>
            </ui:define>
        </ui:composition>

    </body>

    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />    
</html>
