<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Buzón de entrada</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml">
            <ui:define name="content">

                <p:messages id="messages" showDetail="true" closable="true">
                    <p:autoUpdate />
                </p:messages>

                <h:form id="form">

                    <p:dataTable value="#{mensajesController.buzonEntradaUsuarios}" 
                                    var="mensaje">
                        
                        <p:column headerText="Emisor" style="width: 40px; text-align: center">
                            <p:outputLabel value="#{mensaje.emisor.username}" style="font-weight: bold;"/>
                        </p:column>
                        
                        <p:column headerText="Receptor" style="width: 40px; text-align: center">
                            <p:outputLabel value="#{mensaje.receptor.username}" style="font-weight: bold;"/>
                        </p:column>
                        
                        <p:column headerText="Asunto" style="width: 10%">
                            <p:outputLabel value="#{mensajesController.truncateText(mensaje.asunto, 25)}"/>
                        </p:column>
                        
                         <p:column headerText="Contenido" style="width: 28%">
                             <p:outputLabel value="#{mensajesController.truncateText(mensaje.contenido, 80)}" style="font-weight: lighter; color: #857369"/>
                        </p:column>
                        
                        <p:column headerText="Fecha" style="width: 5%; text-align: center">
                            <p:outputLabel value="#{mensajesController.fechaFormateada(mensaje.fecha)}"/>
                        </p:column>
                        
                         <p:column headerText="Ver" style="width: 2.5%; text-align: center">
                             <p:commandLink rendered="#{ not mensaje.estado}" style="color: red; font-size: 14px">
                                 <h:outputText styleClass="fa fa-fw fa-circle"/>
                             </p:commandLink>
                             <p:commandLink update=":form:verMensaje" oncomplete="PF('verMas').show()" title="Ver más">
                                 <p:tooltip showEffect="clip"/>
                                 <h:outputText styleClass="fa fa-fw fa-search" />
                                 <f:setPropertyActionListener value="#{mensaje}" target="#{mensajesController.mensaje}" />
                             </p:commandLink>
                        </p:column>
                        
                    </p:dataTable> 
                    
                    
                    <p:dialog header="Ver más..." widgetVar="verMas" 
                              modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="60%">
                            <p:outputPanel id="verMensaje">
                                <p:panelGrid  columns="2" style="width: 100%" >
                                    <h:outputText value="De: " />
                                    <h:outputText value="#{mensajesController.mensaje.emisor.username}" style="font-weight: bold"/>
                                    
                                    <h:outputText value="Para: " />
                                    <h:outputText value="#{mensajesController.mensaje.receptor.username}" style="font-weight: bold"/>

                                    <h:outputText value="Asunto: " />
                                    <h:outputText value="#{mensajesController.mensaje.asunto}" />
                                                                        
                                    <h:outputText value="Contenido " />
                                    <p:inputTextarea  readonly="true" style="width: 100%" value="#{mensajesController.mensaje.contenido}" />
                                    
                                </p:panelGrid>
                                
                            </p:outputPanel>
                        <f:ajax event="close" render="@all"/>
                    </p:dialog>
           
                </h:form>
               
            </ui:define>
        </ui:composition>
    </body>
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
</html>


