<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>Crear usuario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml">
            <ui:define name="content">

                <h:body>

                    <p:messages id="messages" showDetail="true" closable="true">
                        <p:autoUpdate />
                    </p:messages>

                    <h:form id="frmPrincipal">

                        <p:dataTable var="usuario" value="#{ingresarBoxesController.listaUsuarios}" rows="10"
                                     paginator="true"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} registros"
                                     rowsPerPageTemplate="5,10,15"
                                     id="tabla"
                                     style="text-align: center">
                            <p:column headerText="Id">
                                <h:outputText value="#{usuario.idUsuario}" />
                            </p:column>

                            <p:column headerText="Username">
                                <h:outputText value="#{usuario.username}" />
                            </p:column>

                            <p:column headerText="Current boxes">
                                <h:outputText value="#{usuario.saldo}" style="font-weight: bold"/>
                            </p:column>

                            <p:column headerText="Ingresar boxes">
                                <p:commandLink actionListener="#{ingresarBoxesController.establecerUsuarioIngresar(usuario)}"
                                               oncomplete="PF('wdialogo').show();"
                                               update="frmDialogo">
                                        <h:outputText styleClass="fa fa-fw fa-plus-square" 
                                                      style="font-size: 20px; 
                                                        margin-top: 2px; 
                                                        color: #684609;"/>
                                </p:commandLink>
                            </p:column>
                            
                            <p:column headerText="Retirar boxes">
                                <p:commandLink actionListener="#{ingresarBoxesController.establecerUsuarioRetirar(usuario)}"
                                               oncomplete="PF('wdialogo').show();"
                                               update="frmDialogo">
                                        <h:outputText styleClass="fa fa-fw fa-minus-square" 
                                                      style="font-size: 20px; 
                                                        margin-top: 2px; 
                                                        color: #684609;"/>
                                </p:commandLink>
                                
                            </p:column>

                        </p:dataTable>


                    </h:form> 
                    
                    <h:form id="frmDialogo">
                        
                        <p:dialog id="dialogo" widgetVar="wdialogo" resizable="false" modal="true" closeOnEscape="true">
                            
                            <p:panelGrid columns="2">
                                
                                <p:outputLabel value="Username"/>
                                <p:inputText value="#{ingresarBoxesController.usuario.username}"
                                             readonly="#{facesContext.renderResponse}"/>
                                             
                                <p:outputLabel value="Saldo actual"/>
                                <p:inputText value="#{ingresarBoxesController.usuario.saldo}"
                                             readonly="#{facesContext.renderResponse}"/>
                                
                                <p:outputLabel value="Saldo a ingresar" rendered="#{ingresarBoxesController.accion == 'I'}"/>
                                <p:outputLabel value="Saldo a retirar" rendered="#{ingresarBoxesController.accion == 'R'}"/>

                                <p:inputNumber  decimalPlaces="0" value="#{ingresarBoxesController.saldo}"/>
                                             
                                <p:commandButton value="Ingresar" 
                                                 actionListener="#{ingresarBoxesController.ingresar()}"
                                                 oncomplete="PF('wdialogo').hide();"
                                                 rendered="#{ingresarBoxesController.accion == 'I'}"
                                                 update=":frmPrincipal"/>
                                
                                <p:commandButton value="Retirar" 
                                                 actionListener="#{ingresarBoxesController.retirar()}"
                                                 oncomplete="PF('wdialogo').hide();"
                                                 rendered="#{ingresarBoxesController.accion == 'R'}"
                                                 update=":frmPrincipal"/>
                                
                                <p:commandButton value="Cancelar" onclick="PF('wdialogo').hide();"/>

                            </p:panelGrid>
                            
                        </p:dialog>
                        
                    </h:form>
                </h:body>
            </ui:define>
        </ui:composition>

    </body>

    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />    
</html>
