<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Modificar Productos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
        <ui:composition template="./../../WEB-INF/template/plantillaPrincipal.xhtml">
            <ui:define name="content">
            <h:body>
                <p:messages id="messages" showDetail="true" closable="true">
                        <p:autoUpdate />
                </p:messages>

                <h:form id="frmPrincipal"> 
                    <p:dataTable var="producto" value="#{modificarProductos.listaProductos}" rows="10"
                                     paginator="true"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} registros"
                                     rowsPerPageTemplate="5,10,15"
                                     id="tabla">
                        
                        <p:column headerText="Id">
                            <h:outputText value="#{producto.idProducto}" />
                        </p:column>

                        <p:column headerText="Titulo">
                            <h:outputText value="#{producto.titulo}" />
                        </p:column>
                        
                        <p:column headerText="Artista">
                            <h:outputText value="#{producto.artista}" />
                        </p:column>
                        
                        <p:column headerText="Genero">
                            <h:outputText value="#{producto.genero}" />
                        </p:column>

                        <p:column headerText="Selecionar Producto">
                            <p:commandLink value="Seleccionar Producto"
                                           actionListener="#{modificarProductos.productoSeleccionado(producto)}"
                                           oncomplete="PF('wdialogo').show();"
                                           update="frmDialogo"/>
                        </p:column>
                    </p:dataTable>
                </h:form>    
                    
                <h:form id="frmDialogo">
                    <p:dialog id="dialogo" widgetVar="wdialogo" resizable="false" closeOnEscape="true">
                        <p:fieldset legend="Modificacion de Productos" style="margin-bottom:20px">
                        <p:panelGrid id="gridModificarDatosProductos" columns="2" layout="grid">  
                            
                            <p:outputLabel value="Título: " for="titulo"/>
                            <p:inputText 
                                id="titulo" required="true"
                                requiredMessage="El Título es un campo obligatorio"
                                value="#{modificarProductos.producto.titulo}" />

                            <p:outputLabel value="Artista: " for="artista"/>
                            <p:inputText 
                                id="artista" required="true"
                                requiredMessage="Artista es un campo obligatorio"
                                value="#{modificarProductos.producto.artista}" />      

                            <p:outputLabel value="Genero: " for="genero"/>
                            <p:inputText 
                                id="genero" required="true"
                                requiredMessage="Genero es un campo obligatorio"
                                value="#{modificarProductos.producto.genero}" />      

                            <p:commandButton id="ModificarDatosProductos" 
                                             value="Modificar" 
                                             update="gridModificarDatosProductos"
                                             actionListener="#{modificarProductos.modificarProductos()}"/>
                            
                        </p:panelGrid>
                    </p:fieldset>
                   
                    <p:fieldset legend="Eliminar Producto" style="margin-bottom:20px">
                        <p:panelGrid id="gridEliminarProducto" columns="2" layout="grid">             
                            
                            <p:outputLabel value="Pulse el boton siguiente si quiere borrar el producto seleccionado: "/>
                            <p:commandButton  id="EliminarProducto" value="Eliminar producto" 
                                              actionListener="#{modificarProductos.eliminarProductos()}" 
                                              ></p:commandButton>

                        </p:panelGrid>
                    </p:fieldset>
                        
                    </p:dialog>
                </h:form>
            </h:body>
            </ui:define>
        </ui:composition>
    </body>
    
</html>


