<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
   
    <h:head> 
        <title>Iniciar sesión</title>
    </h:head> 
    
    <h:body style="background-color: #F5F5F5">
  
            <p:messages id="messages" showDetail="true" closable="true">
                <p:autoUpdate />
            </p:messages>
        
        <div style="position: absolute;
                top: 25%; /* Buscamos el centro horizontal (relativo) del navegador */
                left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
                margin-top: -120px; /* Restamos la mitad de la altura del objeto con un margin-top */
                margin-left: -400px; /* Restamos la mitad de la anchura del objeto con un margin-left */
                background-color: #F5F5F5">
            <h:graphicImage library="img" name="TCB_logo.png" height="300px" width="800px"/>
            
        </div >

        <div style="position: absolute;
                top: 80%; /* Buscamos el centro horizontal (relativo) del navegador */
                left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
                margin-top: -170px; /* Restamos la mitad de la altura del objeto con un margin-top */
                margin-left: -200px; /* Restamos la mitad de la anchura del objeto con un margin-left */
                background-color: #F5F5F5">
            <h:form>
                <p:panel header="Login" style="width:400px">
                    <h:panelGrid columns="2" cellpadding="5" id="grid">

                        <p:outputLabel for="nombreUsuario" value="Nombre de usuario:"/>
                        <p:inputText id="nombreUsuario" 
                                     value="#{indexController.usuario.username}"/>

                        <p:outputLabel for="contraseña" value="Contraseña:"/>
                        <p:password id="contraseña" 
                                    value="#{indexController.usuario.password}"/>

                    </h:panelGrid>

                    <p:commandButton id="loginButton" value="Iniciar sesión"
                                            update="grid"
                                            action="#{indexController.verificarUsuario()}"/>
                    
                </p:panel>
                
                <h:panelGrid columns="2" cellpadding="5" id="gridR">
                    <p:outputLabel for="nombreRegistro" value="¿Aun no esta registrado?"/>
                    <p:commandButton id="nombreRegistro" value="Regístrate aquí"
                                            update="grid"
                                            action="#{indexController.registrarUsuario()}"/>
                 </h:panelGrid>
                
            </h:form>
        </div>
    </h:body>
</html>
