<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Registro de Usuarios</title>
    </h:head>
    <h:body>
        
        <p:messages id="messages" showDetail="true" closable="true">
            <p:autoUpdate />
        </p:messages>
        
        <h:form>
      
            <p:fieldset legend="Datos personales" style="margin-bottom:20px">
                <p:panelGrid id="grid1" columns="3" layout="grid">
                    
                    <p:outputLabel for="nombre" value="Nombre:"/>
                    <p:inputText id="nombre" required="true"
                                 requiredMessage="Nombre es un campo obligatorio"
                                 value="#{crearUsuarioController.persona.nombre}"/>
                    <p:message for="nombre"/>
                    
                    <p:outputLabel for="apellido1" value="Primer apellido:"/>
                    <p:inputText id="apellido1" required="true"
                                 requiredMessage="Primer apellido es un campo obligatorio"
                                 value="#{crearUsuarioController.persona.apellido1}"/>
                    <p:message for="apellido1"/>
                    
                    <p:outputLabel for="apellido2" value="Segundo apellido:"/>
                    <p:inputText id="apellido2" required="true"
                                 requiredMessage="Segundo apellido es un campo obligatorio" 
                                 value="#{crearUsuarioController.persona.apellido2}"/>
                    <p:message for="apellido2"/>
                                      
                    <p:outputLabel for="fechaNacimiento" value="Fecha de nacimiento:"/>
                    <p:calendar id="fechaNacimiento" required="true" locale="es"
                                requiredMessage="Fecha de nacimiento es un campo obligatorio"
                                value="#{crearUsuarioController.persona.fechaNacimiento}"/>
                    <p:message for="fechaNacimiento"/>

                </p:panelGrid>
            </p:fieldset>
            
            
            <p:fieldset legend="Datos de acceso">
                <p:panelGrid id="grid2" columns="3" layout="grid">
                    
                    <p:outputLabel for="nombreUsuario" value="Nombre de usuario:"/>
                    <p:inputText id="nombreUsuario" required="true"
                                 requiredMessage="Nombre de usuario es un campo obligatorio"
                                 value="#{crearUsuarioController.usuario.username}"/>
                    <p:message for="nombreUsuario"/>
                    
                    <p:outputLabel for="contraseña1" value="Contraseña:"/>
                    <p:password id="contraseña1" required="true"
                                requiredMessage="Contraseña es un campo obligatorio"
                                value="#{crearUsuarioController.contrasena1}"/>
                    <p:message for="contraseña1"/>
                    
                    <p:outputLabel for="contraseña2" value="Repita contraseña:"/>
                    <p:password id="contraseña2" required="true"
                                requiredMessage="Repita contraseña es un campo obligatorio"
                                value="#{crearUsuarioController.contrasena2}"/>
                    <p:message for="contraseña2"/>

                    
                </p:panelGrid>
            </p:fieldset>
            <p:commandButton value="Registrar" id="registrarButton" update="grid1, grid2"
                             actionListener="#{crearUsuarioController.registrarUsuario()}"
                             style= "margin-top:20px; 
                                margin-left: 20px; 
                                margin-bottom: 40px"
            />
        </h:form>       
        <h:link outcome="index" value="Volver al inicio"/>
    </h:body>
    <h:outputScript library="js" name="calendario.js"/>
</html>